*{
    padding: 0;
    margin: 0;
}
html,body{
   
    height: 100%;
}
main{
    display: flex;
    height: 100%;
    background: rgb(253, 222, 126);
    justify-content: space-around;
    align-items: center;
}

.section-container{
    cursor: pointer;
    flex-basis: 30%;
    height: 40vw;
    background: white;
    justify-content: center;
    display: flex;
    border-radius: 0.5vw;
}
.container_box:last-child {
    font-size: 2vw;
    font-family: 'Nunito', sans-serif;
}
.container_box img{
    width: 10vw;
}

.container_box{
    text-align: center;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction:column;
}
.section_logo{
    font-size: 5vw;
    color: rgb(2, 153, 91);
    font-family: 'Nunito', sans-serif;
}

section:hover{
    height: 42vw;
}
.section_text1{
    font-size: 4vw;
    font-family: 'Nunito', sans-serif;
}

